#Results {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("./2.jpg");
    clear: both;
    min-height: 300px;
    /* height: 1000px; */
    margin: 1% 0 5%;
    padding: 1% 7% 10%;
    text-align: left;
    border-radius: 4px;
}

